* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 50px 100px 50px 100px;
	text-align: center;
	background: #669999;
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #fff;
	text-shadow: 0 0 5px #000;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	padding: 0 20px;
	color: #fff;
	text-shadow: 0 0 5px #000;
	transition: 1s;
}

header nav a:hover {
	transform: scale(1.3);
	transition: 1s;
}

main {
	background: -webkit-linear-gradient(top, #669999, #999966);
	font-size: 18px;
	
}

.main-top-row {
	padding: 50px 100px;
}

.main-top-row h1 {
	text-align: center;
	padding: 10px;
}

.main-top-row img {
	padding-left: 30px;
	width: 100%;
	height: 100%;
	max-width: 200px;
}

.m-t-r-1 {
	display: flex;
	text-align: justify;
	padding: 10px 400px 10px 0;
}

.m-t-r-2 {
	display: flex;
	text-align: justify;
	padding: 10px 200px 10px 200px;
}

.m-t-r-3 {
	display: flex;
	text-align: justify;
	padding: 10px 0 10px 400px;
}

.main-centre-row {
	padding: 50px 100px;
}

.main-centre-row img {
	padding-left: 30px;
	width: 100%;
	height: 100%;
	max-width: 200px;
}

.main-centre-row h1 {
	text-align: center;
}

.m-c-r-1 {
	display: flex;
	text-align: justify;
	padding: 10px 200px 10px 200px;
}

.m-c-r-2 {
	display: flex;
	text-align: justify;
	padding: 10px 200px 10px 200px;
}

.m-c-r-3 {
	display: flex;
	text-align: justify;
	padding: 10px 200px 10px 200px;
}

.main-bottom-row {
	padding: 50px 100px;
}

.main-bottom-row h1 {
	margin-bottom: 30px;
	text-align: center;
}

.m-b-r-cards {
	display: flex;
	justify-content: space-around;
}

.m-b-r-card {
	text-align: center;
	background: rgba(255, 255, 255, 0.6);
	padding: 20px;
	transition: 1s;
}

.m-b-r-card:hover {
	transform: scale(1.2);
	background: rgba(255, 255, 255, 0.9);
	transition: 1s;
}

.m-b-r-card img {
	border-radius: 100px;
	width: 100%;
	max-width: 200px;
}

.m-b-r-card h2 {
	padding: 10px; 
}

.m-b-r-card p {
	padding: 10px;
}

.contact {
	font-size: 18px;
	background: #898989;
	padding: 10px 20px;
	border-radius: 20px;
	border: 1px solid #000;
	transition: 0.5s;
}

.contact:hover {
	border: 1px solid #000;
	background: #303030;
	color: 898989;
	transition: 0.5s;
}

.contact:active {
	background: #000;
	color: #fff;
	transition: 0.5s;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 50px 100px;
	text-align: center;
	background: #999966;
	font-size: 24px;
	color: #fff;
	text-shadow: 0 0 5px #000;
}

footer nav li {
	list-style: none;
	padding: 10px; 
}

footer nav a {
	display: block;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 5px #000;
	transition: 1s;
}

footer nav a:hover {
	transform: scale(1.3);
	transition: 1s;
}